//colors
$primary-color:#1d6bb2; //blue one, could be used as font color as well
$secondary-color:#4c9d11;//green one, could be used as font color as well
$semi-transparent-bg-color:#fff6e1;//orange for table rows
$bright-orange-color:#fa8903;//orange,could be used as font color as well

//font colors
$primary-font-color: #939497; //grey
$secondary-font-color: #1a2235; //for bold text

//font-size
$font-size-section-title:22px; //this font-size for tabs titles


