<section class="sign-in">
    <div class="sign-in__container">
        <div class="sign-in-input">
            <h2>Авторизація</h2>
                <form action="#" method="get">
                    <label>
                        <div class="sign-in-input__phone-number">
                            <input type="text" name="phone-number" placeholder="Номер телефону">
                        </div>
                        <button class="button">Продовжити</button>
                    </label>
                </form>
            <p class="sign-in-input__description">Користуватись сервісом мають можливість лише Страхувальники-фізичні особи</p>
        </div>
    </div>
</section>
<section class="bottom-slider">
    <div class="bottom-slider__container">
        <article>
            <div class="bottom-slider__item">
                <img src="https://icon-library.net/images/img-icon/img-icon-14.jpg" class="bottom-slider__img">                
                <h3>Lorem ipsum dolor sit amet</h3>
            </div>
        </article>
        <article>
            <div class="bottom-slider__item">
                <img src="https://icon-library.net/images/img-icon/img-icon-14.jpg" class="bottom-slider__img">
                <h3>Lorem ipsum dolor sit amet</h3>
            </div>
        </article>
        <article>
            <div class="bottom-slider__item">
                <img src="https://icon-library.net/images/img-icon/img-icon-14.jpg" width="200" class="bottom-slider__img">
                <h3>Lorem ipsum dolor sit amet</h3>
            </div>
        </article>
        <article>
            <div class="bottom-slider__item">
                <img src="https://icon-library.net/images/img-icon/img-icon-14.jpg" width="200" class="bottom-slider__img">
                <h3>Lorem ipsum dolor sit amet</h3>
            </div>
        </article>
    </div>
</section>