	<header class="contract-list_header">
		<div class="contract-list_header_search-logo">
			<img src="" alt="">
		</div>
		<h1 class="contract-list_header_title">Введіть назву / програму / або номер поліса для пошуку
		</h1>
		<div class="contract-list_header_basket-form">
			<p class="basket-form__amount">1 500.00 UAH черговий внесок</p>
		</div>
		<div class="basket-form_amount__backet-logo backet-logo"></div>
		<h2 class="contract-list_header_subtitle">Мого поліса немає у списку</h2>
	</header>
	<nav class="polices-navigation">
		<a class="polices-navigation__item">Всі поліси</a>
		<a class="polices-navigation__item">Дійсні</a>
		<a class="polices-navigation__item">Редуковані</a>
	</nav>
	<article class="police-row">
		<div class="police-row__icon"></div>
		<h3 class="police-row__title">Мій поліс</h3>
		<p class="police-row__id">JU 0038193</p>
		<p class="police-row__date">з 01.07.2017</p>
		<p class="police-row__bank-name">ТАС-ЮНІОР</p>
		<p class="police-row__status">Виплата викупної</p>
		<div class="police-row__backet-logo backet-logo"></div>
		<div class="police-row__hover-item">пропозиція</div>
	</article>
	<article class="police-row">
		<div class="police-row__icon"></div>
		<h3 class="police-row__title">Мій улюблений поліс</h3>
		<p class="police-row__id">JU 0054120</p>
		<p class="police-row__date">з 01.08.2016</p>
		<p class="police-row__bank-name">ТАС-Пенсія</p>
		<p class="police-row__status">Дійсний</p>
		<div class="police-row__backet-logo backet-logo"></div>
		<div class="police-row__hover-item">пропозиція</div>
	</article>
	<article class="police-row">
		<div class="police-row__icon"></div>
		<h3 class="police-row__title">Інвестуй сьогодні з лідером ринку!</h3>
		<p class="police-row__date">від 5 років</p>
		<p class="police-row__bank-name">до 25% річних</p>
		<div class="police-row__backet-logo backet-logo"></div>
		<div class="police-row__hover-item">пропозиція</div>
	</article>
	<article class="police-row">
		<div class="police-row__icon"></div>
		<h3 class="police-row__title">Старий поліс</h3>
		<p class="police-row__id">JU 0057938</p>
		<p class="police-row__date">з 01.05.208</p>
		<p class="police-row__bank-name">ТАС-Юніоор</p>
		<p class="police-row__status">Розірваний</p>
		<div class="police-row__backet-logo backet-logo"></div>
		<div class="police-row__hover-item">пропозиція</div>
	</article>
