<section class="container">
    <header class="header">
        <img src="./images/logo.img" alt="VX Project" class="header__logo">
        <div class="header__search">
            <input type="text" class="header__search-input" placeholder="Пошук">
        </div>
        <div class="header__profile">
            <img src="./images/avatar.png" alt="" class="header__profile-avatar">
            <div class="header__profile-wrap">
                <div class="header__profile-welcome">Вітаємо, Оксана!</div>
                <a href="" class="header__profile-logout">Вийти з кабінету</a>
            </div>
            <div class="header__profile-notification header__profile-notification--alert"></div>
        </div>
    </header>
</section>
