<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <section class="list">
        <table class="policy">
            <tr class="myPolicy">
                <th>Мій поліс</th>
            </tr>
            <tr class="myPolicy_inform">
                <td>JU 0038193</td>
                <td>з 01.07.2017</td>
                <td>ТАС-ЮНІОР</td>
                <td>Виплата викупної</td>
            </tr>
            <tr class="myPolicy">
                <th>Мій улюбленний поліс</th>
            </tr>
            <tr class="myPolicy_inform">
                <td>JU 0054120</td>
                <td>з 01.07.2016</td>
                <td>ТАС-Пенсія</td>
                <td>Дійсний</td>
            </tr>
            <tr class="myPolicy">
                <th>Інвестуй сьогодні з лідером ринку!</th>
            </tr>
            <tr class="myPolicy_inform_yellow">
                <td>Інвест</td>
                <td>від 5 років</td>
                <td> до 25% річних</td>
            </tr>
            <tr class="myPolicy">
                <th>Старий поліс</th>
            </tr>
            <tr class="myPolicy_inform">
                <td>JU 0057938</td>
                <td> з 01.05.2008</td>
                <td>ТАС-ЮНІОР</td>
                <td>Розірваний</td>
            </tr>
        </table>
    </section>
</body>

</html>